<h1>Listing fmalbums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fmalbums.each do |fmalbum| %>
  <tr>
    <td><%= fmalbum.name %></td>
    <td><%= fmalbum.artist %></td>
    <td><%= link_to 'Show', fmalbum %></td>
    <td><%= link_to 'Edit', edit_fmalbum_path(fmalbum) %></td>
    <td><%= link_to 'Destroy', fmalbum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fmalbum', new_fmalbum_path %>
